
.vs/kata-anagrams/DesignTimeBuild/.dtbcache
.vs/kata-anagrams/v15/.suo
.vs/kata-anagrams/v15/Server/sqlite3/db.lock
.vs/kata-anagrams/v15/Server/sqlite3/storage.ide
.vs/kata-anagrams/v15/Server/sqlite3/storage.ide-shm
.vs/kata-anagrams/v15/Server/sqlite3/storage.ide-wal
.vs/kata-anagrams/v16/.suo
.vs/kata-anagrams/v16/Server/sqlite3/db.lock
.vs/kata-anagrams/v16/Server/sqlite3/storage.ide
.vs/kata-anagrams/v16/Server/sqlite3/storage.ide-shm
.vs/kata-anagrams/v16/Server/sqlite3/storage.ide-wal
